* {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}



html,
body {
    height: 100%;
    background: linear-gradient(to right, #10d7fa, #012f3a);
    
}

/* ---------------- LOGIN ------------------------------ */

body.text-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    font-family: 'Lexend Deca',
        sans-serif;
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pass {
    margin-bottom: 10px;
}

.email {
    margin-bottom: -1px;
}

.recupera-password,
.logo a {
    float: right;
    text-decoration: none;
    color: rgb(46, 231, 9);
    margin-top: -20px;
    margin-bottom: 20px;
    transition: 0.4s;
}

.recupera-password:hover,
.logo a:hover {
    text-decoration: none;
    color: #f5f5f5;
}

.recordar {
    clear: both;
}

.formato {
    background: #ffffff79;
    padding: 20px;
    border: 1px solid gray;

}

.formato p {
    font-weight: 600;
    font-size: 14px;
    text-align: initial;
}

.btn-password {
    margin-top: 20px;
}

.logo a {
    float: none;
}

.crear-cuenta button {
    width: 100%;
    color: #ccf381;
    background: #3f666e9a;
}

.crear-cuenta button:hover {
    text-decoration: none;
    background: #243665;
    color: #ccf381;
    transition: .2s;
}

.btn-ingreso {
    background: #4831d4;
    color: #ccf381;
}

.formato-registro {
    background: #f5f5f531;
}

.label {
    float: left;
}

.btn-registro {
    background: #4831d4;
    color: #ccf381;
}


.twitter {
    color: #f5f5f5;
}

@media(max-width: 400px) {
    .form-signin {
        margin-top: -45px;
    }

    .logo {
        font-size: 10px;
    }

    .registro-title {
        font-size: 18px;
        margin-top: -10px;
    }

}

/* ------------------------- Registros ----------------------*/
.card{
    background: rgba(255, 255, 255, 0.39);
}

table{
	text-align: center;
}